body {
  overflow: hidden;
}

#map {
  position: absolute;
  left: 0;
  right: -80%;
  top: 0;
  bottom: -50%;
  z-index: 1;
}

#content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 75px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
}

.box {
  position: absolute;
  left: 0;
  right: 15px;
  background-color: #ffffff;
  background-image: url('/assets/paper.jpg');
  background-repeat: repeat;
  padding: 1px 20px 20px 20px;
  border-radius: 10px;
  border: 4px solid #ffffff;
}

.videodetail {
  position: absolute;
  left: 10px;
  width: 100%;
  top: 10px;
}

.videodetail video {
  position: absolute;
  width: 50%;
  top: 50px;
  transform: rotate(-3deg);
}

.videodetail .box {
  position: relative;
  left: 51%;
  width: 190px;
}

#menu {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 2;
}

#menu a {
  width: 150px;
  height: 29px;
  padding: 15px 0;
  margin: 3px;
  font-weight: bold;
  color: #000000;
  font-size: 29px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
}

#menu a:nth-child(1) {
  background-image: url('/assets/stamp1.png');
  transform: rotate(1deg);
}

#menu a:nth-child(2) {
  background-image: url('/assets/stamp2.png');
  transform: rotate(-3deg);
}

#menu a:nth-child(3) {
  background-image: url('/assets/stamp3.png');
  transform: rotate(0deg);
}

#menu a:nth-child(4) {
  background-image: url('/assets/stamp4.png');
  transform: rotate(2deg);
}

#menu a:nth-child(5) {
  background-image: url('/assets/stamp5.png');
  transform: rotate(-1deg);
}

.marker {
  position: absolute;
  left: -23px;
  top: 5px;
  font-weight: bold;
  text-align: center;
}

.marker img {
  position: relative;
  top: -65px;
}

.map-hint {
  visibility: visible;
  position: absolute;
  left: 50px;
  width: 230px;
  top: 0;
  height: 90px;
}

.map-hint .close {
  position: absolute;
  right: -1px;
  top: -3px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
}
