.marker {
  position: absolute;
  left: -100px;
  top: -48px;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.map-hint {
  visibility: visible;
  position: absolute;
  left: 50px;
  width: 230px;
  top: 0;
  height: 90px;

  .close {
    position: absolute;
    right: -1px;
    top: -3px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
  }
}

#map.zoom-0 .marker {
  .label {
    display: none;
  }
  img {
    width: 20px;
  }
  top: -20px;
}
#map.zoom-1 .marker {
  .label {
    display: none;
  }
  img {
    width: 20px;
  }
  top: -20px;
}
#map.zoom-2 .marker {
  .label {
    display: none;
  }
  img {
    width: 20px;
  }
  top: -20px;
}
#map.zoom-3 .marker {
  .label {
    display: none;
  }
  img {
    width: 20px;
  }
  top: -20px;
}
#map.zoom-4 .marker {
  .label {
    display: none;
  }
  img {
    width: 30px;
  }
  top: -30px;
}
#map.zoom-5 .marker {
  .label {
    display: none;
  }
  img {
    width: 40px;
  }
  top: -40px;
}

#overview-map {
  width: 500px;
  height: 500px;
  float: right;
  margin: 20px 0 0 20px;
}