.idea/*

# compiled output
/dist/
/declarations/

# dependencies
/node_modules/
/bower_components/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/.eslintcache
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/

#videos
public/assets/videos
