{{#video-listing video=model.video onEnd=(action "videoEnded") autoplay=true}}
  <p>Last video on path: {{#link-to 'path.display' model.path.id model.lastVideo.id}}{{model.lastVideo.name}}{{/link-to}}</p>
  <p>Next video on path: {{#link-to 'path.display' model.path.id model.nextVideo.id}}{{model.nextVideo.name}}{{/link-to}}</p>
{{/video-listing}}
