<div class="box">
  <h2>Select a Trip</h2>
  {{#each model as |trip|}}
    <p>
      {{#link-to 'trip.start' trip.id}}{{trip.name}} {{trip.year}}{{/link-to}}
      ({{#each trip.videos as |video index|}} {{if index "-"}} {{video.name}} {{/each}})
    </p>
  {{/each}}
</div>
