<div class="box about">
  <img src="/assets/us.jpg" alt="Anna and Stefan" class="us" />

  <h1>Welcome to our Travel Map</h1>

  <p>We are Anna and Stefan. At this website we keep a log of some of the places
    we visited together. In most of those places we created a short video
    holding a sign with the name of the city. The videos are concatenated in a
    way such that each video starts with the same people visible as the last one
    ended with.</p>

  <p>Explore the
    <LinkTo @route="trip.index">list of our trips</LinkTo>
    we did, check the
    <LinkTo @route="map">map of locations we visited</LinkTo>, or just watch
    some
    <LinkTo @route="random.index">videos in random order</LinkTo>. To get in
    touch connect with us on
    <a
      href="https://www.facebook.com/stefan.toman"
      target="_blank"
      rel="noopener noreferrer"
    >Facebook</a>
    or write comments for trips and videos here at this website. We are looking
    forward to your messages.</p>

  <p>If you are interested in the technical details of this website built with
    <a
      href="https://www.emberjs.com"
      target="_blank"
      rel="noopener noreferrer"
    >Ember.js</a>
    check our
    <a
      href="https://github.com/stoman/travelvideo"
      target="_blank"
      rel="noopener noreferrer"
    >public GitHub repository</a>. Stars, comments, or even contributions to the
    code are always welcome.</p>

  <p>See you on the road!</p>
</div>