<div class="box">
  <h1>Welcome to our travel website</h1>

  <p>We are <a href="#" target="_blank">Anna</a> and <a href="#" target="_blank">Stefan</a>. At this website we keep a log of the places we visited together. In most of those places we created a short video which you can find here. Explore the {{#link-to 'path'}}list of our tours{{/link-to}}, check the {{#link-to 'map'}}map of locations we visited{{/link-to}}, or just watch some {{#link-to 'random'}}random videos{{/link-to}}. To get in touch connect with us on Facebook (<a href="#" target="_blank">Anna</a> and <a href="#" target="_blank">Stefan</a>). We are looking forward to your messages.</p>

  <p>If you are interested in the technical details of this website built with <a href="https://www.emberjs.com" target="_blank">Ember.js</a> check our <a href="https://github.com/stoman/travelvideo" target="_blank">public GitHub repository</a>. Stars, comments, or even contributions to the code are always welcome.</p>

  <p>See you on the road!</p>
</div>
