<<<<<<< HEAD
<<<<<<< HEAD
<div id="map"></div>

<div id="content">
  {{outlet}}
</div>

<div id="menu">
  {{#link-to 'video'}}videos{{/link-to}}
  {{#link-to 'random'}}random{{/link-to}}
  {{#link-to 'map'}}map{{/link-to}}
  {{#link-to 'trip'}}trips{{/link-to}}
  {{#link-to 'about'}}about{{/link-to}}
</div>

=======
=======
{{page-title "Travelvideo"}}

>>>>>>> 36304b7 (v2.18.2...v3.28.6)
<h2 id="title">Welcome to Ember</h2>

{{outlet}}
>>>>>>> 841b693 (v2.8.0...v2.18.2)
