<div id="map"></div>

<div id="content">
  {{outlet}}
</div>

<div id="menu">
  <LinkTo @route="video">videos</LinkTo>
  <LinkTo @route="random">random</LinkTo>
  <LinkTo @route="map">map</LinkTo>
  <LinkTo @route="trip">trips</LinkTo>
  <LinkTo @route="about">about</LinkTo>
</div>