<div id="map"></div>

<div class="content">
  {{outlet}}
</div>

<div class="impressum">
  {{#link-to 'about'}}about{{/link-to}}
  {{#link-to 'video'}}videos{{/link-to}}
  {{#link-to 'paths'}}paths{{/link-to}}
</div>
