{{page-title "Travel Video"}}

<div id="map"></div>

<div id="content">
  {{outlet}}
</div>

<div id="menu">
  <LinkTo @route="video.index">videos</LinkTo>
  <LinkTo @route="random.index">random</LinkTo>
  <LinkTo @route="map">map</LinkTo>
  <LinkTo @route="trip.index">trips</LinkTo>
  <LinkTo @route="about">about</LinkTo>
</div>