{{#if this.hintVisible}}
  <div class="box map-hint">
    <a {{on "click" this.hideHint}} class="close">x</a>
    <p>
      In map mode you can drag around the map and find places around the world
      linked with videos.
    </p>
  </div>
{{/if}}